<form asp-controller="Login" asp-action="CheckLogin" method="post" class="myForm">
    <div style="grid-column-start: 1; grid-column-end: 3" class="titleText">Login</div>

    <div class="miniText">Login:</div>
    <input name="login">
    <div class="miniText">Password:</div>
    <input name="password" type="password"/>

    <button style="grid-column-start: 1; grid-column-end: 3" class="submitButton">Submit</button>
</form>